# Sublime Text files
*.sublime-*

# Python files
*venv*
*__pycache__/*
*.pyc

# Project-specific files
ipaddr.yaml
config.yaml
ipaddr.log
ipaddr.log.[1-5]
public_ipaddr_check.log
public_ipaddr_check.log.[1-5]
