# Copy this file, fill out with your fields, and rename as config.yaml
---
cloudflare:
  zone: 'zone'
  # Pick either token OR email and key.
  token: 'your_cloudflare_api_token'
  email: 'user@example'
  key: 'your_cloudflare_api_key'
  domain: 'example.com'
  subdomains:
    # Replace 'subdomain' with your actual subdomain.
    # e.g. if you want to manage 'www.example.com', the subdomain is 'www'.
    # An empty string '' can be used. This will point to your base domain.
    # e.g. example.com
    subdomain:
      # You can run `python cloudflare.py` to automatically get identifiers.
      # If you choose to do so, you can skip listing subdomains here and only
      # supply them to the command
      identifier: 'id'
      # Do you want this subdomain to be proxied?
      # Cloudflare will offer to mask your WAN IP address if you choose so.
      # Options: true, false
      proxied: true

ifttt:
  url: 'your_ifttt_maker_webhook_url'
  event: 'your_ifttt_webhook_event_name'
...
